<!DOCTYPE html>
<html>
<head>
  <title>Vagabond App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<h1>THIS IS THE LAYOUT</h1>
<div>
  <% if session[:user_id].nil? %>
  <button><%= link_to "User Login", signin_path %></button>
  <button><%= link_to "Sign Up!", new_user_path %></button>
  <button><%= link_to "Homepage", homepage_path %></button>
  <% else %>
  <button><%= link_to "Log Out", logout_path, method: "delete" %></button>
  <% end %>
</div>
</br>
</br>

<%= yield %>

</body>
</html>
