<!DOCTYPE html>
<html>
<head>
  <title>Vagabond App</title>
  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet">
  <link href="/public/style.css" rel="stylesheet">


  <!-- JAVASCRIPTS -->
  <script   src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"   integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <div class = "navbar-wrapper container">
      <a href="#" class = "brand-logo">Vagabond</a>

      <% if session[:user_id].nil? %>

        <%= link_to "User Login", signin_path %>
        <%= link_to "Sign Up!", new_user_path %>

      <% else %>

        <%= link_to "Profile", user_path(current_user[:id]) %>
        <%= link_to "Log Out", logout_path, method: "delete" %>

      <% end %>
    </div>
  </nav>

<button><%= link_to "View Cities", cities_path %></button>

</br>

<%= yield %>

</body>
</html>
