
<h1>Profile Page</h1>


<%= image_tag(@user.avatar) %>
<div>
  <b>Name:</b> <%= @user.first_name %> <%= @user.last_name %>
</div>

<div>
  <b>Location:</b> <%= @user.location %>
</div>

<div>
  <b>User Since:</b> <%= @user.created_at.strftime("%d %b. %Y") %>
</div>

<div>
 <b>Recent Posts:</b>
    <% @posts.each do |post| %>
    <%= post.title %>
    <%= post.description %>
  <% end %>
</div>


<div>
  <form action='/users/<%= @user.id %>/edit' method='get'>
          <button> Edit Profile </button>
  </form>
</div>
