<%= image_tag(@user.avatar) %>
<div>
<b>First Name:</b> <%= @user.first_name %>
</div>
<div>
<b>Last Name:</b> <%= @user.last_name %>
</div>

<div>
<b>Email:</b> <%= @user.email %>
</div>
<b>Recent Posts:</b> <%= @posts %>


