<div class="card-panel">
  <div class="header card-panel green lighten-1 content white-text">
    <h4><%= @post.title %></h4>
    <p>
      <strong>by <a class="blue-text text-darken-3" href="/users/<%= @post.user_id %>"><%= @post.user.first_name %> <%= @post.user.last_name %></a></br>
      <%= @post.created_at.strftime("%b %d, %Y") %></strong>
    </p>
  </div>
  <p class="flow-text white black-text">
    <%= @post.description %>
  </p>


  <div>
    <form action='/posts/<%= @post.id %>/edit' method='get'>
      <button> Edit Post </button>
    </form>
  </div>

  <!-- %= @post.city_id %> -->
  <!-- % @post.city.posts.each do |p| %> -->
    <!-- %= p.id %> <br> -->
    <!-- % end %> -->


  <!-- <%= button_to "Edit Post", city_post_path(@post.city.id, @post.id), method: :get %> -->

  <%= button_to "Delete Post", city_post_path(@post.city.id, @post.id), method: :delete, :data => {:confirm => @confirm_msg} %>

</div>
