<div>
<%= @post.title %>
</div>
<div>
<%= @first_name %>

</div>
<div>
<%= @post.description %>
</div>


<div>
  <form action='/posts/<%= @post.id %>/edit' method='get'>
          <button> Edit Profile </button>
  </form>
</div>

<!-- %= @post.city_id %> -->
<!-- % @post.city.posts.each do |p| %> -->
  <!-- %= p.id %> <br> -->
<!-- % end %> -->

<%= button_to "Delete Post", city_post_path(@post.city.id, @post.id), method: :delete, :data => {:confirm => @confirm_msg} %>
