<div>
<%= @post.title %>
</div>
<div>
<a href="/users/<%= @post.user_id %>"><%= @post.user.first_name %> <%= @post.user.last_name %></a></br>
</div>
<div>
<%= @post.description %>
</div>


<div>
  <form action='/posts/<%= @post.id %>/edit' method='get'>
          <button> Edit Profile </button>
  </form>
</div>

<!-- %= @post.city_id %> -->
<!-- % @post.city.posts.each do |p| %> -->
  <!-- %= p.id %> <br> -->
<!-- % end %> -->

<%= button_to "Delete Post", city_post_path(@post.city.id, @post.id), method: :delete, :data => {:confirm => @confirm_msg} %>
