<button><%= link_to "Create Post", new_city_post_path(@city[:id]) %></button>
<h1><%= @city.name %></h1>
Country: <%= @city.country %> </br></br>
Description: <%= @city.description %></br></br>
Posts:
<% @posts.each do |post| %>
<%= post.description %></br>
<%= button_to "Delete Post", @post, method: :delete, :data => {:confirm => @confirm_msg} %>
<% end %>
