<div class="container">
  <button class="btn waves-effect waves-light blue darken-3">
    <%= link_to "Create Post", new_city_post_path(@city[:id]), {style: "color: white"} %>
    <i class="material-icons right">send</i>
  </button>

  <h2><%= @city.name %></h2>
  <h4>Country: </h4><%= @city.country %> </br></br>
  <h4>Description: </h4><%= @city.description %></br></br>

  <h4>Posts: </h4>
  <% @posts.each do |post| %>
  <div class="card-panel">
    <h5><i class="tiny material-icons">message</i><strong><a href="/cities/<%= @city.id %>/posts/<%= post.id %>">  <%= post.title %></h5></a></strong>
    <i class="tiny material-icons">perm_identity</i><strong><a href="/users/<%= post.user_id %>">  <%= post.user.first_name %> <%= post.user.last_name %></a></strong></br>
    <%= truncate(post.description, :length => 1000) %></br><a href="/cities/<%= @city.id %>/posts/<%= post.id %>">See more...</a>
  </div>

  <% end %>




<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

</div>
